<!doctype html>{% load static %}
<html lang="en">
{% include "authentication/navbar2.html" %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
     <link href="{% static 'css/bulma-calendar.min.css' %}" rel="stylesheet">
     <link href="{% static 'js/bulma-calendar.min.js' %}" rel="stylesheet">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
     {% block custom_css %}{% endblock %}
    <title>Summary</title>
</head>
<body>
    <div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
		  <div class="container-fluid">
			<div class="row mb-2">
			  <div class="col-sm-6">
				<h1 class="m-0">SUMMARY</h1>
			  </div><!-- /.col -->
			  <div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
				  <li class="breadcrumb-item"><a href="#">Home</a></li>
				  <li class="breadcrumb-item active">Summary</li>
				</ol>
			  </div><!-- /.col -->
			</div><!-- /.row -->
		  </div><!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->
    {% block content %}
    <div class="columns is-centered has-text-centered">
        <div class="column is-half">
            <div class="card has-background-white-ter">
                <h1 class="title is-3"></h1>
            </div>
        </div>
    </div>
    <form action="{% url 'invoice:invoice-list' %}" method="post">{% csrf_token %}
        <div class="card">
           <div class="card-content">
                <div class="content">

                    <table class="table is-fullwidth is-bordered is-hoverable is-striped">
                        <tbody>
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>INVOICE</th>
                                    <th>User Name</th>
                                    <th>TITLE</th>
                                    <th>TAJUK</th>
                                    <th>TARIKH</th>
                                    <th>TOTAL</th>
                                    
                                    <th>View</th>
                                    <th>DOWNLOAD</th>

                                </tr>
                            </thead>
                            
                            {% if request.user.is_superuser %}
                            {% for invoice in invoices %}
                            
                            <tr>
                                <td width="1%"><a href="{% url 'update' id=invoice.id %}">
                                    <div class="button is-small is-info">show</div>
                                </a></td>
                                <td width="1%">#{{invoice.id}}</td>
                                <td>{{invoice.user}}</td>
                                <td width="9%">{{invoice.TITLE|safe}}</td>
                                <td> {{invoice.Atur_Cara_B}}</td>
                                <td> {{invoice.TARIKH}} </td>
                                <td>{{invoice.JUMLAH_KESELURUHAN_1}}</td>
                                
                                <td width="1%"><a href="{% url 'sign' id=invoice.id %}">
                                    <div class="button is-small is-info">verify</div>
                                </a></td>
                                <td width="1%"><a href="{% url 'invoice:invoice-download' id=invoice.id %}">Download</a></td>
                            </tr>
                            
                            {% endfor %}
                            
                            {% else %}

                            {% for invoice in invoices %}
                            {% if invoice.user == user %}
                            <tr>
                                <td width="1%"><a href="{% url 'update' id=invoice.id %}">
                                    <div class="button is-small is-info">show</div>
                                </a></td>
                                <td width="1%">#{{invoice.id}}</td>
                                <td>{{invoice.user}}</td>
                                <td width="9%">{{invoice.TITLE|safe}}</td>
                                <td> {{invoice.Atur_Cara_B}}</td>
                                <td> {{invoice.TARIKH}} </td>
                                <td>{{invoice.JUMLAH_KESELURUHAN_1}}</td>
                                
                                <td width="1%"><a href="{% url 'sign' id=invoice.id %}">
                                    <div class="button is-small is-info">View</div>
                                </a></td>
                                <td width="1%"><a href="{% url 'invoice:invoice-download' id=invoice.id %}">Download</a></td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% endif %}
                            
                            
                            
                            
                        </tbody>
                    </table>

                </div>
            </div>
        </div> <br /><br /><br />
    </form>

    {% endblock content %}
</body>