bulma==1.0.1
crispy-bootstrap5==0.7
Django==4.1.7
django-bulma==0.8.3
django-ckeditor==6.5.1
django-crispy-forms==2.0
mysql-connector-python==8.0.32
mysqlclient==2.1.1
pdfkit==1.0.0
reportlab==3.6.12
xhtml2pdf==0.2.9
